.carousel-caption h5 {
    font-size: 50px;
}
.mainhead h1, h3 {
    text-align: center;
}
.mainhead h3{
    font-size: medium;
    font-weight: bold;
}
.mainhead h1 {
    font: bold;
}
.mainmenu {
    margin-left: 30%;
    margin-right: 30%;
}
.btn-lg{
    margin-left: 230px;
    border-radius: 25px;
    padding-left : 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pic{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.pictext{
    position: absolute;
    
}
.address-tab {
    margin-left: 410px;
    height: 400px;
    width: 60%;
}
#bredcrumbs {
    background-color: blanchedalmond;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.centered {
    color: blanchedalmond;
    font-size: 50px;
    position: absolute;
    top: 34%;
    left: 26%;
}
